#friends-display-link{
    text-align: center;
    letter-spacing: 3px;
    display: block;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 15px;
}

#friends-display-link i{
    color: rgb(139, 124, 124)
}

.friends-screen{
    padding:0px var(--horizontal-space);
}